input, textarea, select {
    outline: none; 
}

.border-style {
    border: 1px dashed black;
    border-bottom: 0;
    border-right: 0;
}

.message-content {
    width: 85%; 
    word-wrap: break-word;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.25rem 0;
}

.list-inside::before {
    content: "-";
    display: inline-block;
    margin-right: 0.5rem; /* Ajustez la marge à votre convenance */
}
