<ng-container *ngIf="data && data.Status">
    <div class="item text-xs font-inter"
        [class.hidden]="isExpanded"
        [class.expanded]="isExpanded"
        [ngStyle]="{ 'background-color': 'rgb(' + getColorRGB(data.Status.status_id) + ', 0.5)' }"
    >
        <div class="item-right w-[55%]">
            <div class="grid grid-cols-3 gap-4">
                <div class="col-span-1">
                    <h1 class="font-semibold text-lg">{{ data.asked_ref }}</h1>
                    <div class="mt-1 flex">
                        <div class="">
                            <h2 class="mr-3">{{ data.Status.status_label }}</h2>
                            <div class="h-3 w-10 rounded" [style.backgroundColor]="data.Status.status_color"></div>
                        </div>
                        <div class="text-left mt-1">
                            <h5>Creation: <span>{{ data.asked_created_date | date:'dd MMM yyyy HH:mm:ss' }}</span></h5>
                            <h5 *ngIf="data.asked_updated_date">Update: <span>{{ data.asked_updated_date | date:'dd MMM yyyy HH:mm:ss' }}</span></h5>
                        </div>
                    </div>
                </div>
                <div class="mx-1">
                    <p class="ticket-descriptions2 w-52 overflow-x-hidden overflow-y-scroll custom-scrollbar">
                        {{ data.asked_description }}
                    </p>
                </div>
                <div class="flex flex-col justify-between">
                    <div class="flex items-center justify-start">
                        <img src="assets/icons/user.png" alt="" class="w-6 h-6" />
                        <h5 class="ml-4 font-semibold md:font-bold md:text-sm">{{ data.Ship.Fleet.Customer.customer_name }}</h5>
                    </div>
                    <div class="flex items-center justify-start">
                        <img src="assets/icons/ship.png" alt="" class="w-8 h-4" />
                        <h5 class="ml-2 font-semibold md:font-bold md:text-sm">{{ data.Ship.ship_name }}</h5>
                    </div>
                </div>
            </div>
            <span class="up-border hidden xl:block"></span>
            <span class="down-border hidden xl:block"></span>

        </div>

        <div class="item-left w-[42%] hidden lg:block">
            <div class="flex justify-between h-[95%]">
                <div class="flex flex-col justify-between">
                    <h2 class="text-left" *ngIf="data.Piece">Item : <span class="font-bold">{{ data.Piece.piece_label }}</span></h2>
                    <h2 class="text-left" *ngIf="data.Side">Side : <span class="font-bold">{{ data.Side.side_label }}</span></h2>
                </div>
                <div class="flex justify-center items-center">
                    <div *ngFor="let oncall of onCallsWeek" class="flex flex-col justify-center items-center" [ngClass]="{'flex': true}">
                        <div class="relative" (mouseleave)="isHovered = false && userMail = ''" (mouseenter)="isHovered = true && userMail = oncall.user_email">
                            <div class="mx-6 w-6 h-6 text-[10px] rounded-full border border-solid border-black m-[1px] flex justify-center items-center"
                                [ngClass]="{
                                    'bg-[#E3D617]': oncall.skill_id === 1,
                                    'bg-[#17AFE3]': oncall.skill_id === 2,
                                    'bg-[#7DC37D]': oncall.skill_id === 3,
                                    'bg-[#D3D3D3]': oncall.skill_id !== 1 && oncall.skill_id !== 2 && oncall.skill_id !== 3
                                }">
                                <h1><span>{{ oncall.user_first_name.charAt(0) }}{{ oncall.user_name.charAt(0) }}{{ oncall.user_name.charAt(oncall.user_name.length - 1) }}</span></h1>
                            </div>
                            <div class="z-50 absolute -top-2 right-16 w-max p-1 bg-white text-black text-[9px] rounded-md border border-solid border-black"
                                *ngIf="isHovered && userMail == oncall.user_email">
                                <div *ngIf="!isCustomerEnabled()">Mail: {{ oncall.user_email }} </div>
                                <div class="text-[8px]">
                                    <div>Name: {{ oncall.user_first_name }} {{ oncall.user_name }}</div>
                                    <div *ngIf="!isCustomerEnabled()">Phone: {{ oncall.user_phone }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="onCallsWeek && onCallsWeek.length === 0">
                        <p class="font-semibold text-custom">No supports</p>
                    </div>
                </div>
                <div class="flex items-center justify-end">
                    <img src="assets/icons/polygon.png" (click)="toggleExpansion()" alt="" class="w-8 h-6 cursor-pointer" />
                </div>
            </div>
        </div>
    </div>

    <div
        class="font-inter text-xs w-[99%] mb-[6px] p-2 bg-white rounded-[10px] border border-solid"
        [class.hidden]="!isExpanded"
        [ngStyle]="{ 'background-color': 'rgb(' + getColorRGB(data.Status.status_id) + ', 0.5)' }"
    >
        <div class="grid grid-cols-6 lg:grid-cols-10">
            <div class="col-span-2">
                <h1 class="font-semibold text-lg">{{ data.asked_ref }}</h1>
                <div class="mt-1 flex">
                    <div class="">
                        <h2 class="mr-3">{{ data.Status.status_label }}</h2>
                        <div class="h-3 w-10 rounded" [style.backgroundColor]="data.Status.status_color"></div>
                    </div>
                    <div class="text-left mt-1">
                        <h5>Creation: <span>{{ data.asked_created_date | date:'dd MMM yyyy HH:mm:ss' }}</span></h5>
                        <h5 *ngIf="data.asked_updated_date">Update: <span>{{ data.asked_updated_date | date:'dd MMM yyyy HH:mm:ss' }}</span></h5>
                    </div>
                </div>
            </div>
            <div class="col-span-2 flex flex-col justify-between px-6">
                <div class="flex items-center justify-start">
                    <img src="assets/icons/user.png" alt="" class="w-6 h-6" />
                    <h5 class="ml-4 font-semibold lg:font-bold text-xs lg:text-sm">{{ data.Ship.Fleet.Customer.customer_name }}</h5>
                </div>
                <div class="flex items-center justify-start">
                    <img src="assets/icons/ship.png" alt="" class="w-8 h-4" />
                    <h5 class="ml-2 font-semibold lg:font-bold text-xs lg:text-sm ">{{ data.Ship.ship_name }}</h5>
                </div>
            </div>
            <div class="col-span-2 hidden lg:flex flex-col justify-between">
                <h2 class="text-left" *ngIf="data.Piece">Item : <span class="font-bold">{{ data.Piece.piece_label }}</span></h2>
                <h2 class="text-left" *ngIf="data.Side">Side : <span class="font-bold">{{ data.Side.side_label }}</span></h2>
                <h2 *ngIf="prfss" class="text-left">Related PRFS :
                    <span  *ngFor="let prfs of prfss" class="font-bold">{{ prfs.asked_prfs_ref }},</span>
                </h2>
            </div>
            <div class="col-span-2 mb-4">
                <div class="flex justify-center items-center">
                    <div class="flex flex-col justify-between">
                        <button
                            [routerLink]="shouldShowTitle() ? '/client/update/prfm/' + data.asked_uuid : '/update/prfm/' + data.asked_uuid"
                            class="mb-2 px-6 lg:px-10 py-1 rounded-[10px] text-base flex justify-center items-center font-bold text-white border border-solid border-black"
                            [style.backgroundColor]="'rgb(' + getColorRGB(data.Status.status_id) + ', 0.5)'"
                        >
                            <img src="assets/icons/update.png" class="w-4 h-4 mr-2" />
                            <ng-container *ngIf="shouldShowTitle(); else editButton"> Show </ng-container>
                            <ng-template #editButton> Edit </ng-template>
                        </button>
                        <div class="flex justify-center items-center">
                            <div *ngFor="let oncall of onCallsWeek" class="flex flex-col justify-center items-center" [ngClass]="{'flex': true}">
                                <div class="relative" (mouseleave)="isHovered = false && userMail = ''" (mouseenter)="isHovered = true && userMail = oncall.user_email">
                                    <div class="mx-1 w-6 h-6 text-[10px] rounded-full border border-solid border-black m-[1px] flex justify-center items-center"
                                        [ngClass]="{
                                            'bg-[#E3D617]': oncall.skill_id === 1,
                                            'bg-[#17AFE3]': oncall.skill_id === 2,
                                            'bg-[#7DC37D]': oncall.skill_id === 3,
                                            'bg-[#D3D3D3]': oncall.skill_id !== 1 && oncall.skill_id !== 2 && oncall.skill_id !== 3
                                        }">
                                        <h1><span>{{ oncall.user_first_name.charAt(0) }}{{ oncall.user_name.charAt(0) }}{{ oncall.user_name.charAt(oncall.user_name.length - 1) }}</span></h1>
                                    </div>
                                    <div class="z-50 absolute -top-2 right-16 w-max p-1 bg-white text-black text-[9px] rounded-md border border-solid border-black"
                                        *ngIf="isHovered && userMail == oncall.user_email">
                                        <div *ngIf="!isCustomerEnabled()">Mail: {{ oncall.user_email }} </div>
                                        <div class="text-[8px]">
                                            <div>Name: {{ oncall.user_first_name }} {{ oncall.user_name }}</div>
                                            <div *ngIf="!isCustomerEnabled()">Phone: {{ oncall.user_phone }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="onCallsWeek && onCallsWeek.length === 0">
                                <p class="font-semibold text-custom">No supports</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end items-center cursor-pointer" (click)="toggleExpansion()">
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="20" viewBox="0 0 33 20" fill="none">
                    <path d="M16.5 0L32.9545 19.5H0.045517L16.5 0Z" fill="black"/>
                </svg>
            </div>
        </div>
        <div class="hidden lg:grid grid-cols-6 mt-2">
            <div class="col-span-2">
                <h1 class="text-base text-center font-semibold">Description</h1>
                <p class="bg-[#E4E4E4] px-4 mx-4 h-[75px] py-2 text-left overflow-x-hidden overflow-y-scroll custom-scrollbar-gray z-0">
                    {{ data.asked_description }}
                </p>
            </div>
            <div class="col-span-3">
                <h1 class="text-base text-center font-semibold">PRFM Resume</h1>
                <p class="bg-[#E4E4E4] px-4 mx-4 h-[75px] py-2 text-left overflow-x-hidden overflow-y-scroll custom-scrollbar-gray z-0">
                    {{ data.prfm_resume }}
                </p>
            </div>
            <div class="col-span-1 flex flex-col items-center">
                <div *ngIf="attachements" class="flex flex-col items-center">
                    <div *ngFor="let attachement of attachements" class="flex items-center mt-2">
                        <p>{{ attachement.doc_last_version }}</p>
                        <img src="assets/icons/clip.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
