<div class="font-inter bg-[#D9D9D9] mx-2 pt-2 pb-1 mb-2">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-16 px-4 lg:px-36 py-4">
        <div class="bg-white border border-solid border-black">
            <h2 class="bg-custom border-b border-solid border-black text-center text-white font-semibold py-2">Opened</h2>
            <h6 class="text-center p-3 font-bold text-3xl font-inter">{{ statistics.opened }}</h6>
        </div>
        <div class="bg-white border border-solid border-black">
            <h2 class="bg-custom border-b border-solid border-black text-center text-white font-semibold py-2">Resolved</h2>
            <h6 class="text-center p-3 font-bold text-3xl font-inter">{{ statistics.resolved }}</h6>          
        </div>
        <div class="bg-white border border-solid border-black">
            <h2 class="bg-custom border-b border-solid border-black text-center text-white font-semibold py-2">Unresolved</h2>
            <h6 class="text-center p-3 font-bold text-3xl font-inter">{{ statistics.unresolved }}</h6>
        </div>
    </div>
    <div class="mx-4 lg:mx-10 grid lg:grid-cols-11 gap-2 lg:gap-4">
        <div class="flex flex-col space-y-4 lg:col-span-2">
            <div class="bg-[#EAEAEA] rounded-[10px] py-12 px-2">
                <div class="flex justify-center mb-4">
                    <label class="mr-2">Number</label>
                    <input type="radio" [(ngModel)]="selectedMode" (change)="updateChartData()" value="number" />
                </div>
                <div class="flex justify-center">
                    <label class="mr-2">Percent</label>
                    <input type="radio" [(ngModel)]="selectedMode" (change)="updateChartData()" value="percent" />
                </div>
            </div>
        </div>
        <div  *ngIf="chartOptions" class="bg-white lg:col-span-9">
            <h2 class="bg-custom text-center text-white py-2">Tickets per status</h2>
            <div id="chart" class="px-6 py-4">
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [dataLabels]="chartOptions.dataLabels"
                    [plotOptions]="chartOptions.plotOptions"
                    [yaxis]="chartOptions.yaxis"
                    [xaxis]="chartOptions.xaxis"
                    [legend]="chartOptions.legend"
                    [colors]="chartOptions.colors"
                    [grid]="chartOptions.grid"
                ></apx-chart>
            </div>
            
        </div>
    </div>
    <div class="mx-2 md:mx-16 lg:mx-64 my-2 bg-[#EAEAEA] rounded-[10px] flex justify-between p-2">
        <div *ngFor="let option of durationOptions" class="flex justify-center">
            <label class="mr-1">{{ option.label }}</label>
            <input type="radio" [checked]="selectedDuration === option.value" (click)="updateDuration(option.value)" />
        </div>
    </div>      
</div>