<div class="container-page h-[100%]">
    <div class="rounded-[10px] h-[75%]">
        <div class=" grid grid-cols-6 border border-solid border-black text-center rounded-t-[10px]">
            <ng-container *ngFor="let route of configRoutes">
                <a
                    (click)="changeUrl()"
                    [routerLink]="route.path"
                    class="py-3 border-r border-solid border-black"
                    [ngClass]="{'text-white bg-custom': currentRoute.includes(route.path)}"
                >
                    {{ route.label }}
                </a>
            </ng-container>
        </div>
        <div class="bg-[#EEE] rounded-b-[10px] h-[90%] overflow-y-hidded">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
