<form [formGroup]="form">
    <div class="container-page">
        <div class="container-creation container-select-ships col-span-3">
            <div class="flex-container-column">
                <img alt="user" src="assets/icons/user.png" class="logo-user" />
                <select (change)="changeUser()" formControlName="customer_uuid" class="creation-item-select my-2">
                    <option value="">None</option>
                    <option *ngFor="let customer of customers" [value]="customer.customer_uuid">{{ customer.customer_name }}</option>
                </select>
                <div *ngIf="customerUuidControl.hasError('required')" class="page-message-erreur">
                    The customer is required *.
                </div>
            </div>
            <div class="flex-container-column">
                <img alt="fleet" src="assets/icons/fleet.png" class="logo-ships" />
                <select (change)="changeFleet()" formControlName="fleet_id" class="creation-item-select my-2">
                    <option value="">None</option>
                    <option *ngFor="let fleet of fleets" [value]="fleet.fleet_id">{{ fleet.fleet_name }}</option>
                </select>
                <div *ngIf="fleetIdControl.hasError('required')" class="page-message-erreur">
                    The fleet is required *.
                </div>
            </div>
            <div class="flex-container-column">
                <img alt="ship" src="assets/icons/ship.png" class="logo-ships" />
                <select formControlName="ship_uuid" class="creation-item-select my-2">
                    <option value="">None</option>
                    <option *ngFor="let ship of ships" [value]="ship.ship_uuid">{{ ship.ship_name }}</option>
                </select>
                <div *ngIf="shipUuidControl.hasError('required')" class="page-message-erreur">
                    The ship is required *.
                </div>
            </div>
        </div>
        
        <div class="mt-2 text-sm grid grid-cols-3 gap-4">
            <div>
                <h2 *ngIf="askedDescriptionControl.hasError('required')" class="page-message-erreur">The asked description is required *.</h2>
                <h2 *ngIf="askedDescriptionControl.hasError('minlength')" class="page-message-erreur">The asked description must be at least 32 characters long *.</h2>
                <textarea formControlName="asked_description" class="creation-item-textarea" placeholder="Description *"></textarea>
            </div>
            <div>
                <div class="flex-container-between my-1">
                    <h1 class="creation-title">Purchase request ID (CRM) :</h1>
                    <input type="text" formControlName="prma_id_crm" class="creation-item-input-prma" placeholder="purchase request id (CRM)" />
                </div>
                <div class="flex-container-between my-1">
                    <h1 class="creation-title">Project number :</h1>
                    <input type="text" formControlName="prma_project_number" class="creation-item-input-prma" placeholder="project number" />
                </div>
                <div class="flex-container-between my-1">
                    <h1 class="creation-title">Purchase order (PO) :</h1>
                    <input type="text" formControlName="prma_purchase_order_po" placeholder="purchase order (PO)" class="creation-item-input-prma" />
                </div>
            </div>
            <div>
                <div class="flex-container-between my-1">
                    <h1 class="creation-title">Purchase request date :</h1>
                    <input formControlName="prma_date" type="date" class="creation-item-input-prma" />
                </div>
                <div class="flex-container-between my-1">
                    <h1 class="creation-title">Quotation price total :</h1>
                    <input type="text" formControlName="prma_quotation_price_total" placeholder="quotation price total" class="creation-item-input-prma" />
                </div>
                <div class="flex-container-between my-1">
                    <h1 class="creation-title">Requested delivery date:</h1>
                    <input type="date" formControlName="prma_date_estimated_of_receipt" class="creation-item-input-prma" />
                </div>
            </div>
        </div>

        <div class="flex-container-center">
            <div class="spare-parts">
                <div class="flex items-center justify-around">
                    <h1 class="page-title">Spare parts ( {{ spare_parts.length }} )</h1>
                    <h1 class="page-title">Purchase order ( CA )</h1>
                </div>
                <div class="bg-[#cc4264] flex flex-col items-center overflow-y-scroll h-[14rem] p-[.5rem] custom-scrollbar">
                    <div *ngFor="let sparepart of spare_parts; let i = index" class="w-[100%] bg-[#e4738f] p-[.5rem] mb-1 flex-container-center">
                        <button (click)="deleteSparePart(i)">
                            <img
                                src="assets/icons/minus.png"
                                class="header-buttons-item-logo"
                            />
                        </button>
                        <div class="mx-2">
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Project :</h1>
                                <h2 class="creation-title-content text-white">{{ sparepart.piece.piece_label }}</h2>
                            </div>
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Quantity :</h1>
                                <h2 class="creation-title-content text-white">{{ sparepart.quantity}}</h2>
                            </div>
                        </div>
                        <div class="container-creation">
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Purchase order number :</h1>
                                <h2 class="creation-title-content">{{ sparepart.purchase_order_number }}</h2>
                            </div>
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Expected date :</h1>
                                <h2 class="creation-title-content">{{ sparepart.expected_date }}</h2>
                            </div>
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Status CA :</h1>
                                <h2 class="creation-title-content">{{ sparepart.status_ifs }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="w-[100%] bg-[#e4738f] p-[.5rem] mb-1 flex-container-center">
                        <div class="mx-2">
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Project :</h1>
                                <select [(ngModel)]="piece_uuid" [ngModelOptions]="{standalone: true}" class="creation-item-select-prma">
                                    <option value="">None</option>
                                    <option *ngFor="let piece of equipementsinterne" [value]="piece.piece_uuid" >{{ piece.piece_label }}</option>
                                </select>
                            </div>
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Quantity :</h1>
                                <input type="number" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" class="creation-item-input-prma" />
                            </div>
                        </div>
                        <div class="container-creation">
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Purchase order number :</h1>
                                <input type="text" [(ngModel)]="purchase_order_number" [ngModelOptions]="{standalone: true}" placeholder="purchase order number" class="creation-item-input-prma" />
                            </div>
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Expected date :</h1>
                                <input type="date" [(ngModel)]="expected_date" [ngModelOptions]="{standalone: true}" class="creation-item-input-prma" />
                            </div>
                            <div class="flex-container-between my-1">
                                <h1 class="creation-title mr-2">Status CA :</h1>
                                <input type="text" [(ngModel)]="status_ifs" [ngModelOptions]="{standalone: true}" placeholder="status CA" class="creation-item-input-prma" />
                            </div>
                        </div>
                    </div>
                    <button
                        class="flex justify-center items-center"
                    >
                        <img 
                            (click)="addToSpareParts()"
                            src="assets/icons/plus.png"
                            class="header-buttons-item-logo mt-2"
                        />
                    </button>
                </div>
            </div>
            <div class="purchase_request flex-container-column">
                <h1 class="page-title">Purchase request ( DA )</h1>
                <div class="container-creation">
                    <div class="flex-container-between my-1">
                        <h1 class="creation-title mr-4">Purchase request number :</h1>
                        <input type="text" formControlName="prma_number_da" placeholder="purchase request number" class="creation-item-input-prma" />
                    </div>
                    <div class="flex-container-between my-1">
                        <h1 class="creation-title mr-4">Release date DA :</h1>
                        <input type="date" formControlName="prma_release_date_da" class="creation-item-select-prma" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container-creation grid grid-cols-5 gap-4">
            <div class="flex items-center">
                <img src="assets/icons/clip.png" class="header-buttons-item-logo"/>
                <h1 class="page-title"><span>Attachments: </span>{{ numberOfAttachments }}</h1>
            </div>
            <div class="col-span-2 page-attachements-info custom-scrollbar">   
                <div class="flex-container-between">
                    <h1 class="page-title">Name</h1>
                    <h1 class="page-title">Size</h1>
                </div>      
                <div class="flex-container-between" *ngFor="let attachment of attachments">
                    <h1 class="page-title-element">{{ attachment.name }}</h1>
                    <h1 class="page-title-element">{{ attachment.size }}</h1>
                </div>                                           
            </div>
            <div 
                (drop)="onDrop($event)"
                (dragover)="onDragOver($event)" 
                class="col-span-2 page-attachements-drop"
            >
                <div class="flex justify-center">
                    <label for="fileInput" class="page-title-element">Drag your file here to start uploading</label>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex-1 border-t-2 border-[#E30039]"></div>
                    <h1 class="text-center text-base md:text-lg font-semibold px-2"> Or </h1>
                    <div class="flex-1 border-t-2 border-[#E30039]"></div>
                </div>
                <div class="flex justify-center">
                    <input type="file" accept="image/*,.pdf,.doc,.docx,.per,.zip,.rar" class="hidden" id="fileInput" (change)="onFileChange($event)" multiple>
                    <label for="fileInput" class="page-attachements-drop-button">Browse files</label>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <button [disabled]="loading" (click)="submitForm()" class="button-save">
                <span *ngIf="!loading">Create ticket</span>
                <span *ngIf="loading" class="flex items-center">
                    <svg class="animate-spin h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.963 7.963 0 014 12H0c0 4.418 3.582 8 8 8v-4.01zm13.196-1.383A10.001 10.001 0 0021.22 12h-4.02a6.001 6.001 0 11-6.001-6h-2a8.001 8.001 0 108.177 5.908l1.018 1.018z"></path>
                    </svg>
                    Loading...
                </span>
            </button>
            <button type="button" class="button-cancel" (click)="cancel()">Cancel</button>
        </div>
    </div>
</form>
<app-popup *ngIf="isVisible" [popupText]="text"></app-popup>